asciitree==0.3.3
fasteners==0.20
h5py==3.14.0
imagecodecs==2024.12.30
numcodecs==0.12.1
numpy==2.0.2
opencv-python-headless==4.13.0.92
openslide-bin==4.0.0.11
openslide-python==1.4.2
pillow==11.3.0
tifffile==2024.8.30
zarr==2.18.2
